body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black;
  }
  .app-container {
    display: flex;
    flex-direction: column;
    height: 1000px;
    width: 100%;
    /*background-image: url('../assets/Moto/ducati-panigale-v4-r.jpg');*/
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }