.home-container {
    padding: 2em;
    text-align: center;
    color: white;
   /* background-image: url('../assets/Moto/ducati-panigale-v4-r.jpg');*/
}
.home-container h1 {
    margin-bottom: 1em;
}